includes:
    #- ./phpstan-baseline.neon

parameters:

    paths:
        - src/

    excludePaths:
        analyse:
            - ./vendor/**
            - src/Tests

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false

   # reportUnmatchedIgnoredErrors: false
   # ignoreErrors:
   #     - '#Call to an undefined method Illuminate#'  #ignore scope on model errors
   #     - '#Call to an undefined static method Illuminate#'  #ignore scope on model errors

    # Level 9 is the strictest
    level: 9
